/*****************
Estilo flexbox
*************/

#conteudo{
    background: #dcdcdc;
    height: 400px;
    display: flex;

    /*
    propriedades do flex direction: https://www.w3schools.com/cssref/css3_pr_flex-direction.asp
    - row (itens organizados em linha)
    - row-reverse
    - collumn (itens organizados em coluna)
    - collumn-reverse
    */
    /*flex-direction: row;*/

    /*consegue definir quebras de layout: https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp
    - nowrap (não haverá quebra do item quando o container diminuir)
    - wrap (haverá a quebra do item quando o container diminuir)
    - wrap-reverse
    */
    /*flex-wrap: nowrap;*/

    /*Define a posição dos itens utilizando o flex : https://www.w3schools.com/cssref/css3_pr_justify-content.asp
    - flex-start (canto esquerdo topo)
    - flex-end (canto direito topo)
    - center (centro topo)
    - space-between (distribui os itens por toda largura disponível, começando pela extremidade, mantendo espaço igual entre eles)
    - space-around (distribui os itens por toda largura disponível, mantendo espaço igual entre eles, antes e depois do item)
    */
    /*justify-content: flex-start;*/

    /*defini o alinhamento dos itens : https://www.w3schools.com/cssref/css3_pr_align-items.asp
    - stretch
    - center
    - flex-start
    - flex-end
    - baseline
    */
    /*align-items: baseline;*/
}

.item{
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid gray;
    margin: 10px;
    /*flex-grow: defini a proporção de espaço ocupado por um item
    o padrão é o 0
    quando coloca 1, eles passam a ocupar todo espaçamento disponível
    */
    flex-grow: 0;

    /*flex-shrink: Define a capacidade de redução de tamanho
    de um item
    o padrão é o 1
    quanto maior o valor, mais o item pode encolher em relação ao tamanho original
    */
    flex-shrink: 1;

    /*flex-basis: Indica o tamanho inicial do flex item antes
    da distribuição do espaço restante;
    o padrão é auto
    */
    flex-basis: auto;
}

.item1{
    /*flex-grow: 0.5;*/
    flex-shrink: 2;
}

.ordem{
    /*order: controla a posição do elemento dentro do flex
    por default todos elementos tem 0 em order
    se o valor da order é o mesmo, ele segue a ordem de execução no html
    */
    order: 0;
}